h1, p{
    text-align: center;
}
 ul:hover, ol:hover{
    background-color: aquamarine;
 }
 li:active{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px  
 }
    li{
        list-style: none;
    }